
<div class="header-container">
    <div class="left">
        <h2 [routerLink]="['']">E-Commerce shop</h2>
    </div>
    <div class="center">
        <table>
            <tr>
                <th [routerLink]="['']">New</th>
                <th [routerLink]="['']">About Us</th>
                <th [routerLink]="['']">Shop</th>
            </tr>
        </table>
    </div>
    <div class="right">
        <mat-icon class="cart-icon" (click)="openCartPreview()">shopping_cart</mat-icon>
    </div>
</div>
