.cart-preview-container {
    width: 400px;
    border: bisque 1px solid;
  }
  
  img {
    width: 40%;
    padding: 8px;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .product-info {
    display: inline-block;
    vertical-align: top; /* Align the product info div to the top of the line */
    width: calc(55% - 16px); /* Calculate the width to fill remaining space after the image */
    padding-left: 8px; /* Add some spacing between the image and product info */
  }
  
  .product-info p {
    margin: 0; /* Remove default margin for paragraphs */
  }
  
  .block {
    display: flex; /* Use flexbox to align the paragraphs */
  }
  
  .inline-block {
    display: inline-block;
    margin: 0; /* Remove default margin for paragraphs */
    padding-right: 15px; /* Add some spacing between the paragraphs */
  }

  .btn {
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
  }
  .btn1 {
    border-left: lightgray 1px solid;
  }
  .btn2 {
    border-right: lightgray 1px solid;
  }
  .bordr {
    margin-top: 15px;
    margin-left: 20px;
  }

  .no-inline{
    padding-right: 0;
  }

  h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .remove{
    margin: 0;
    padding: 0;
    font-size: x-small;
  }


  /* Add CSS to style the table headers */
  .btn {
    width: 30px; /* Set a fixed width for the table headers */
    height: 30px; /* Set a fixed height for the table headers */
    text-align: center; /* Center the text horizontally in the table headers */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    font-size: 25px; /* Increase the font size to make it bigger */
    font-weight: 300;
    transition: background-color 0.4s ease; /* Add transition effect to background color */
  }
  
  /* Add background color on hover */
  .btn:hover {
    background-color: lightgray;
  }

  .price {
    margin-right: 20px;
    float: right;
  }

  .price-number {
    font-weight: 300;
    margin-top: 10px;
  }

  .price-price {
    font-weight: 500;
    font-size: large;
    color: cadetblue;
  }

  .top {
    margin-top: 0;
  }

  .items {
    font-weight: 500;
    margin-left: 20px;
  }
  
  .out{
    font-weight: 300;
    font-size: x-large;
    margin-left: 15px;
  }
  .out-arrow {
    font-weight: 300;
    font-size: x-large;
    margin-right: 30px;
    float: right;
  }

  