.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Add some spacing between the cards */
    margin-left: -20px; /* Add negative margin to counteract the gap */
    margin-right: -20px; /* Add negative margin to counteract the gap */
  }
  
  .product-card {
    flex: 1 0 calc(33.33% - 20px); /* Show three cards per row by default */
    max-width: calc(33.33% - 20px); /* Ensure each card doesn't exceed one-third of the container width */
    box-sizing: border-box; /* Include padding and border in the total width */
  }
  
  /* Media queries for smaller screens */
  @media screen and (max-width: 992px) {
    .product-card {
      flex: 1 0 calc(50% - 20px); /* Show two cards per row on smaller screens */
      max-width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 576px) {
    .product-card {
      flex: 1 0 100%; /* Show one card per row on even smaller screens */
      max-width: 100%;
    }
  }

  .mat-card-image{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 50%;
  }
  